/* app css stylesheet */
/*@import "bower_components/bootstrap/dist/css/bootstrap.css";*/
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.editable-error {
    margin-bottom: 0;
    color: red
}
/*a {*/
    /*@extend .label;*/
    /*@extend .label-info;*/
/*}*/
#groupTable {
    width: auto
}
.badge:hover {
    background-color: lightgray;
}
.editable-checklist label {
    display: block;
}
.editable-input {
    width: 70px;
}
.editable-error{
    word-wrap: break-word;
    white-space: pre-wrap;

}

.mp_copyright {
    font-size: 12px;
    margin-bottom: 50px;
}
/*#groupTable td {max-width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}*/

/* d3.js */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: blue;
    stroke: steelblue;
    stroke-width: 1.5px;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
