<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Stan sterownika</h4>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Automat</th>
                <td>
                    <div class="led-box">
                        <div ng-class="dev.running==true ? 'led-green': 'led-red'">
                        </div>
                        <p ng-if="dev.running==true"><b>ON</b></p>

                        <p ng-if="dev.running==false"><b>OFF</b></p>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="dt in data">
                <th>{{dt.name}}</th>
                <td>
                    <div class="led-box">
                        <!--
                        <div ng-class="dt.value==1 ? 'led-green': 'led-red'">
                        </div>
                        -->
                        <div ng-if="dt.value==1" ng-class="checkInArray(inArr,dt.id)? 'led-green' :'' ">
                            <img src="images/wateringon.png" ng-show="!checkInArray(inArr,dt.id)">
                        </div>
                        <div class="led-red" ng-if="dt.value==0"><img src="images/wateringoff.png"
                                                                      ng-show="!checkInArray(inArr,dt.id)"></div>
                        <div class="led-blue" ng-if="dt.value==-1"></div>
                        <p ng-if="dt.value==1"><b>ON</b></p>

                        <p ng-if="dt.value==0"><b>OFF</b></p>

                        <p ng-if="dt.value==-1"><b>UKNOWN</b></p>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>