<!--<div class="panel panel-primary">-->
<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">

        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator sekcji </h4>


    </div>

    <div>

        <div class="label-info">

            <!--<form class="form-inline" role="form">-->
            <span class="text-left">Sekcja &nbsp;</span><label class="radio-inline" ng-repeat="id in lineIds()">
            <input type="radio" name="radio" ng-model="radioBoxSelection.id"
                   ng-value="id.value"><span>{{id.value}}</span></label>

            <!--</form>-->
        </div>

        <form editable-form="test" ng-show="test.$visible"></form>

        <table class="table table-striped table-bordered" ng-repeat="group in groups | orderBy: 'id'"
               ng-if="isRadioBoxSelect(group.id)">
            <tr>

                <th>Sekcja</th>
                <td>{{group.id}}</td>
            </tr>
            <tr hidden>
                <th>Nazwa</th>
                <td>{{group.name}}
                </td>
            </tr>
            <tr>
                <th>Linia</th>
                <td ><!--
                    <span editable-checklist="group.line_ids" e-name="line_ids" e-form="rowform"
                          e-ng-options="id.value as id.text for id in lineIds()">{{group.line_ids}}</span> -->
                    {{group.line_ids}}
                </td>
            </tr>
            <tr>
                <th>Sposób włączania</th>
                <td><span editable-select="group.type" e-name="type" e-form="rowform"
                          e-ng-options="t.value as t.text for t in group_type">{{group.type}}</span></td>

            </tr>
            <tr>
                <th>Czas nawadniania</th>
                <td><a ng-href="#/groups/delay/{{group.delay.delay_id}}" ng-class="'label label-info'">{{group.delay.delay_id
                    | strLength:8}}</a></td>
            </tr>
            <tr>
                <th>Harmonogram i sterowanie</th>
                <td><a ng-href="#/groups/mode/{{group.mode.__bases__[0].mode_id}}" ng-class="'label label-info'">{{group.mode.__bases__[0].mode_id
                    |
                    strLength:8}}</a></td>
            </tr>
            <tr>
                <th>Pogoda</th>
                <td><a ng-href="#/groups/weather/{{group.weather_td.id}}" ng-class="'label label-info'">{{group.weather_td.id
                    |
                    strLength:8}}</a></td>
            </tr>
            <!--<td><span editable-select="group.weather_on" e-name="weather_on" e-form="rowform"-->
            <!--e-ng-options="b.value as b.text for b in boolean">{{group.weather_on}}</span></td>-->
            <tr>
                <th>Raport</th>
                <td><span editable-select="group.report_on" e-name="report_on"
                          e-form="rowform"
                          e-ng-options="b.value as b.text for b in boolean"> {{group.report_on}} </span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline" shown="inserted == group"
                          onaftersave="onChange($data, group.id)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>

                        <button type="button" ng-click="sendToServer(group)"
                                class="btn btn-primary" ng-show="enables[group.id]">
                            send
                        </button>
                    </div>

                </td>

            </tr>
            <tr>
                <td colspan="2" style="text-align: right">
                    <div class="buttons">
                        <button class="btn btn-primary" ng-if="dbOp.enable" ng-click="dbSend()">Send</button>
                        <button type="button" ng-click="dbLoad()"
                                class="btn btn-primary">
                            Db load
                        </button>
                        <button class="btn btn-primary" ng-click="dbSave()">Db save</button>

                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>
<!--</div>-->