<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator czasu nawadniania</h4>
    </div>
    <div>

        <table class="table table-striped table-bordered">
            <tr>
                <!--<th colspan="2" class="text-center">{{group.name}}</th>-->
                <th colspan="2" class="text-center">Sekcja {{group.id}}</th>
            </tr>

            <tr ng-show="false">
                <th>Sekcja</th>
                <td>{{group.id}}</td>
            </tr>
            <tr ng-show="false">
                <th>ID</th>
                <td>{{group.delay.delay_id | strLength: 8 }}</td>
            </tr>
            <tr ng-show="false">
                <th>TYP</th>
                <td>{{group.delay.__class__}}</td>
            </tr>
            <!--
            <tr>
                <th>TYGODNIE</th>
                <td><span editable-number="group.delay.weeks" e-name="delay.weeks"
                          e-min=0 e-max=100 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,100)">{{group.delay.weeks}}</span></td>
            </tr>
            -->
            <tr>
                <th>Godziny</th>
                <td><span editable-number="group.delay.hours" e-name="delay.hours" e-min="0" e-max="23" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,23)">{{group.delay.hours}}</span></td>
            </tr>
            <tr>
                <th>Minuty</th>
                <td><span editable-number="group.delay.minutes" e-name="delay.minutes" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{group.delay.minutes}}</span></td>
            </tr>
            <tr ng-if="sec_show">
                <th>Sekundy</th>
                <td><span editable-number="group.delay.seconds" e-name="delay.seconds" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{group.delay.seconds }}</span></td>
            </tr>

            <tr>
                <td style="white-space: nowrap" colspan="2" >
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline"
                          onaftersave="onChange($data, group.id)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click = "back(group.id)">&lt;&lt;powrot</button>
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>

                        <!--<button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
                    </div>

                </td>

            </tr>
        </table>
    </div>
</div>