<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator pogody</h4>
    </div>
    <div>

        <table class="table table-striped table-bordered">
            <tr>
                <!--<th colspan="2" class="text-center">{{group.name}}</th>-->
                <th colspan="2" class="text-center">Sekcja {{group.id}}</th>
            </tr>
            <tr ng-show="false">
                <th>GROUP ID</th>
                <td>{{group.id}}</td>
            </tr>
            <tr>
                <th>Włącz</th>
                <td><span editable-select="weather.weather_on" e-name="weather_on"
                          e-ng-options="b.value as b.text for b in boolean" e-form="rowform"
                          e-ng-change="updateView($data)">{{weather.weather_on}}</span></td>
            </tr>
            <tr ng-if="weather_on">
                <!--
                <th>WEEKS</th>
                <td><span editable-number="weather_td.weeks" e-name="weeks"
                          e-min=0 e-max=100 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,100)">{{weather_td.weeks}}</span></td>
            </tr>
            <tr ng-if="weather_on">
                <th>DAYS</th>
                <td><span editable-number="weather_td.days" e-name="days" e-min="1" e-max="31" e-step="1" e-form="rowform"
                          onbeforesave="checkRange($data,1,31)">{{weather_td.days}}</span></td>
            </tr>
            -->
            <tr ng-if="weather.weather_on">
                <th>Godzina</th>
                <td><span editable-number="weather_td.hours" e-name="hours" e-min="0" e-max="23" e-step="1" e-form="rowform"
                          onbeforesave="checkRange($data,0,23)">{{weather_td.hours}}</span></td>
            </tr>
            <tr ng-if="weather.weather_on">
                <th>Minuta</th>
                <td><span editable-number="weather_td.minutes" e-name="minutes" e-min="0" e-max="59" e-step="1" e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{weather_td.minutes}}</span></td>
            </tr>
            <!--
            <tr ng-if="weather_on">
                <th>SECONDS</th>
                <td><span editable-number="weather_td.seconds" e-name="seconds" e-min="0" e-max="59" e-step="1" e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{weather_td.seconds}}</span></td>
            </tr>
            -->
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline" shown="inserted == group"
                          onaftersave="onChange($data, group.id)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click = "back(group.id)">&lt;&lt;powrot</button>
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <!--<button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>