<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator harmonogramu i sterowania</h4>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <!--<th colspan="2" class="text-center">{{group.name}}</th>-->
                <th colspan="2" class="text-center">Sekcja {{group.id}}</th>
            </tr>


            <tr ng-show="false">
                <th>GROUP ID</th>
                <td>{{group.id}}</td>
            </tr>
            <tr ng-show="false">
                <th>MODE ID</th>
                <td>{{group.mode.__bases__[0].mode_id | strLength: 8 }}</td>
            </tr>
            <!--<td><span editable-select="mode.__class__" e-name="__class__" e-form="rowform"-->
            <!--e-ng-options="c.value as c.text for c in mode_class">{{mode.__class__ }}</span></td>-->
            <tr>
                <th>Typ sterowania</th>
                <td><span editable-select="group.mode.__bases__[0].mode " e-name="mode" e-form="rowform"
                          e-ng-options="m.value as m.text for m in mode_mode" e-ng-change="updateModeAction($data)">{{group.mode.__bases__[0].mode }}</span>
                </td>
            </tr>
            <tr>
                <th>Akcja</th>
                <td><span editable-select="group.mode.__bases__[0].action " e-name="action"
                          e-form="rowform" e-ng-options="a.value as a.text for a in mode_action"
                          onbeforesave="checkValue($data)">{{group.mode.__bases__[0].action}}</span></td>
            </tr>
            <tr ng-if="isAuto" ng-show="false">
                <th>TRIGGER ID</th>

                <td>{{group.mode.trigger.__bases__[0].trigger_id | strLength: 8 }}</td>
            </tr>
            <tr ng-if="isAuto">
                <th>Typ wyzwalania</th>

                <td><span editable-select="group.mode.trigger.__class__" e-name="__class__" e-form="rowform"
                          e-ng-change="updateView($data)"
                          e-ng-options="t.value as t.text for t in trigger_type" onbeforesave="checkValue($data)">{{group.mode.trigger.__class__}}</span>
                </td>
            </tr>

            <tr ng-if="isAuto">
                <th>Data rozpoczęcia</th>
                <td><span editable-bsdate="group.mode.trigger.__bases__[0].start_date" e-name="start_date"
                          e-form="rowform"
                          e-datepicker-popup="yyyy-MM-dd">{{group.mode.trigger.__bases__[0].start_date ||'*'}}</span>
                </td>
            </tr>
            <tr ng-if="isAuto">
                <th>Data zakończenia</th>

                <td><span editable-bsdate="group.mode.trigger.__bases__[0].end_date" e-name="end_date" e-form="rowform"
                          e-datepicker-popup="yyyy-MM-dd">{{group.mode.trigger.__bases__[0].end_date ||'*'}}</span></td>

            </tr>
            <tr ng-if="is_interval && isAuto">
                <th>Powtórzenia</th>
                <td>
                    <input type="checkbox" ng-model="repeatModel.enable">
                </td>
            </tr>
            <!--INTERVAL-->
            <tr ng-if="is_interval && isAuto && repeatModel.enable">
                <th>Ilość powtórzeń (0==infinity)</th>

                <td><span editable-number="group.mode.trigger.repeat" e-name="repeat"
                          e-min=0 e-max=100 e-step=1
                          e-form="rowform">{{group.mode.trigger.repeat}}</span>
                </td>

            </tr>
            <tr ng-if="is_interval && isAuto">

                <th>Tygodnie</th>
                <td><span editable-number="group.mode.trigger.weeks" e-name="weeks"
                          e-min=0 e-max=100 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,100)">{{group.mode.trigger.weeks }}</span>
                </td>
            </tr>
            <tr ng-if="is_interval && isAuto">
                <th>Dni</th>
                <td><span editable-number="group.mode.trigger.days" e-name="days"
                          e-min=0 e-max=100 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,100)">{{group.mode.trigger.days }}</span>
                </td>
            </tr>

            <tr ng-if="is_interval && isAuto">
                <th>Godziny</th>
                <td><span editable-number="group.mode.trigger.hours" e-name="hours" e-min="0" e-max="23" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,23)">{{group.mode.trigger.hours }}</span></td>
            </tr>
            <tr ng-if="is_interval && isAuto">
                <th>Minuty</th>
                <td><span editable-number="group.mode.trigger.minutes" e-name="minutes" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{group.mode.trigger.minutes }}</span></td>
            </tr>
            <tr ng-if="is_interval && isAuto && sec_show">
                <th>Sekundy</th>
                <td><span editable-number="group.mode.trigger.seconds" e-name="seconds" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{group.mode.trigger.seconds }}</span></td>
            </tr>
            <!--CRON-->
            <tr ng-if="!is_interval && isAuto">
                <!--
                <th>TRIGGER YEAR</th>
                <td><span editable-number="group.mode.trigger.year" e-name="year"
                          e-min=1970 e-max=10000 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,1970,10000,true)">{{group.mode.trigger.year || '*' }}</span></td>
            </tr>

            <tr ng-if="!is_interval && isAuto">
                <th>TRIGGER MONTH</th>
                <td><span editable-number="group.mode.trigger.month" e-name="month"
                          e-min=1 e-max=12 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,1,12,true)">{{group.mode.trigger.month || '*' }}</span></td>
            </tr>

            <tr ng-if="!is_interval && isAuto">
                <th>TRIGGER DAY</th>
                <td><span editable-number="group.mode.trigger.day" e-name="day"
                          e-min=1 e-max=31 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,1,31,true)">{{group.mode.trigger.day || '*'}}</span></td>
            </tr>

            <tr ng-if="!is_interval && isAuto">
                <th>TRIGGER WEEK</th>
                <td><span editable-number="group.mode.trigger.week" e-name="week"
                          e-min=1 e-max=52 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,1,53,true)">{{group.mode.trigger.week || '*' }}</span></td>
            </tr>

            <tr ng-if="!is_interval && isAuto">
                <th>TRIGGER DAY_OF_WEEK</th>
                <td><span editable-number="group.mode.trigger.day_of_week" e-name="day_of_week"
                          e-min=0 e-max=6 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,6,true)">{{group.mode.trigger.day_of_week || '*' }}</span></td>
            </tr>
           -->
            <tr ng-if="!is_interval && isAuto">
                <th>Strefa czasowa</th>
                <td><span editable-select="group.mode.trigger.timezone" e-name="timezone"
                          onbeforesave="checkUndefOrNull($data)"
                          e-ng-options="t.value as t.text for t in timezones" e-form="rowform">{{group.mode.trigger.timezone}}</span>
                </td>
            </tr>
            <tr ng-if="!is_interval && isAuto">
                <th>Dni</th>
                <td><span editable-checklist="group.mode.trigger.day_of_week" e-name="day_of_week"
                          e-ng-options="id.value as id.text for id in day_of_weeks" e-form="rowform"
                          onbeforesave="listToString($data)">
                    {{displayDays(group.mode.trigger.day_of_week)}}</span>
                </td>
            <tr ng-if="!is_interval && isAuto">
                <th>Godzina/y</th>
                <td><!--<span editable-number="group.mode.trigger.hour" e-name="hour"-->
                    <!--e-min=0 e-max=23 e-step=1 e-required-->
                    <!--e-form="rowform"-->
                    <!--onbeforesave="checkRange($data,0,23,true)">{{group.mode.trigger.hour || '*'}}</span>-->
                <span editable-text="group.mode.trigger.hour" e-name="hour"
                      e-form="rowform"
                      onbeforesave="checkListRange($data,0,23,true)">{{group.mode.trigger.hour || '*'}}</span>
                </td>
            </tr>

            <tr ng-if="!is_interval && isAuto">
                <th>Minuta</th>
                <td><span editable-number="group.mode.trigger.minute" e-name="minute"
                          e-min=0 e-max=59 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,59)">{{group.mode.trigger.minute}}</span>
                </td>
            </tr>

            <tr ng-if="!is_interval && isAuto && sec_show">
                <th>Sekunda</th>
                <td><span editable-number="group.mode.trigger.second" e-name="second"
                          e-min=0 e-max=59 e-step=1 e-required
                          e-form="rowform" onbeforesave="checkRange($data,0,59,true)">{{group.mode.trigger.second || '*'}}</span>
                </td>
            </tr>
            </span>
            <tr>

                <td style="white-space: nowrap" colspan="2" class="text-center">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline"

                          onaftersave="onChange($data, group.id)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelForm(rowform)"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="back(group.id)">&lt;&lt;powrot</button>
                        <button class="btn btn-primary" ng-click="editForm(rowform)">edit</button>
                        <!--<button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>