<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Sterowanie manualne</h4>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <tr ng-repeat="dt in data" ng-if="dt.id!=5">
                <th>
                    <p>
                        {{dt.name}}
                    </p>

                    <div class="buttons">
                        <button class="btn btn-primary" ng-click="switch(dt.id,1)">ON</button>
                        <button type="button" ng-click="switch(dt.id,0)"
                                class="btn btn-primary">
                            OFF
                        </button>
                    </div>
                </th>
                <td>
                    <div class="led-box">
                        <!--
                        <div ng-class="dt.value==1 ? 'led-green': 'led-red'">
                        </div>-->
                        <div ng-if="dt.value==1" ng-class="checkInArray(inArr,dt.id)? 'led-green' :'' ">
                            <img src="images/wateringon.png" ng-show="!checkInArray(inArr,dt.id)">
                        </div>
                        <div class="led-red" ng-if="dt.value==0"><img src="images/wateringoff.png"
                                                                      ng-show="!checkInArray(inArr,dt.id)"></div>
                        <div class="led-blue" ng-if="dt.value==-1"></div>
                        <p ng-if="dt.value==1"><b>ON</b></p>

                        <p ng-if="dt.value==0"><b>OFF</b></p>

                        <p ng-if="dt.value==-1"><b>UKNOWN</b></p>
                    </div>

                </td>

            </tr>
        </table>
    </div>
</div>