<ul class="nav nav-pills nav-stacked">
    <li><a ng-href="#/home"><img src="images/home.png">&nbsp;Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <img src="images/three.png">&nbsp;Sterowanie<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ng-href="#/operation"><img src="images/automatic.png">&nbsp;Automatyczne</a></li>
            <li><a ng-href="#/manual"><img src="images/symbol.png">&nbsp;Manualne</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            <img src="images/tools.png">&nbsp;Konfigurator<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#/groups/0"><img src="images/plant.png">&nbsp;Sekcji</a></li>
            <li><a href="#/moisture"><img src="images/moisture.png">&nbsp;Czujnika</a></li>
            <li><a href="#/pomp"><img src="images/pump.png">&nbsp;Pompy</a></li>
            <li><a href="#/weatherjob"><img src="images/cloud.png">&nbsp;Pogody</a></li>
            <li><a href="#/reportconf"><img src="images/symbols.png">&nbsp;Raportow</a></li>
        </ul>
    </li>
    <!--<li ><a ng-href="#/groups/0" >Konfigurator lini</a></li>-->
    <!--<li ><a ng-href="" >Konfigurator pogody</a></li>-->
    <!--<li ><a ng-href="" >Konfigurator raportow</a></li>-->
    <!--<li ><a ng-href="" >Konfigurator zadan</a></li>-->
    <li><a ng-href="#/reporttable"><img src="images/contacts.png">&nbsp;Raporty</a></li>
    <li><a ng-href="#/statustasks"><img src="images/check.png">&nbsp;Statusy zadan</a></li>


    <li><a ng-href="">&nbsp;</a></li>
</ul>
