<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <!--<div class="list-group">-->

    <!--<a href="" class="list-group-item list-group-item-success" ng-click="startOp()">START</a><span class="badge"-->
    <!--ng-click="showJobStatus(start_task_id.job_id)">{{start_task_id.job_id | strLength:8}}</span>-->

    <!--<span class="list-group-item list-group-item-danger" ng-click="pauseOp()">PAUSE<span class="badge"-->
    <!--ng-click="showJobStatus(start_task_id.job_id)">{{pause_task_id.job_id | strLength:8}}</span></span>-->
    <!--<span class="list-group-item list-group-item-warning" ng-click="resumeOp()">RESUME<span class="badge"-->
    <!--ng-click="showJobStatus(start_task_id.job_id)">{{resume_task_id.job_id | strLength:8}}</span></span>-->
    <!--<span class="list-group-item list-group-item-info" ng-click="shutdownOp()">SHUTDOWN<span class="badge"-->
    <!--ng-click="showJobStatus(start_task_id.job_id)">{{shutdown_task_id.job_id | strLength:8}}</span></span>-->
    <!--</div>-->
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Panel Sterowania</h4>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-success"><span class="btn glyphicon glyphicon-play" aria-hidden="true" ng-click="startOp()">Start</span><span
                    class="badge"
                    ng-click="showJobStatus(start_task_id)">{{start_task_id.job_id | strLength:8}}</span>
            </li>
            <!--<li class="list-group-item list-group-item-info"><span class="btn glyphicon glyphicon-pause" aria-hidden="true" ng-click="pauseOp()">Pauza</span>-->
                <!--<span-->
                        <!--class="badge"-->
                        <!--ng-click="showJobStatus(pause_task_id)">{{pause_task_id.job_id | strLength:8}}</span>-->
            <!--</li>-->

            <!--<li class="list-group-item list-group-item-warning"><span class="btn glyphicon glyphicon-refresh" aria-hidden="true"-->
                                                                      <!--ng-click="resumeOp()">Wznów</span><span-->
                    <!--class="badge"-->
                    <!--ng-click="showJobStatus(resume_task_id)">{{resume_task_id.job_id | strLength:8}}</span></li>-->

            <li class="list-group-item list-group-item-danger"><span class="btn glyphicon glyphicon-off" aria-hidden="true"
                                                                     ng-click="shutdownOp()">Stop</span><span
                    class="badge"
                    ng-click="showJobStatus(shutdown_task_id)">{{shutdown_task_id.job_id | strLength:8}}</span>
            </li>
        </ul>

        <div class="panel panel-primary" ng-if="curr_stat.job_id">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">JOB STATUS<span class="badge">{{curr_stat.job_id | strLength:8}}</span>
                </h4>

                <div class="btn-group pull-right">
                    <a href="" class="btn btn-default btn-sm" ng-click="hideJobStatus()">X</a>
                </div>

            </div>

            <table class="table">
                <tr ng-repeat="obj in job">
                    <td>{{obj.name}}</td>
                    <td>{{obj.value}}</td>
                </tr>
            </table>

        </div>
    </div>
</div>



