<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator pompy </h4>
    </div>
    <div>
        <div class="label-info">

            <!--<form class="form-inline" role="form">-->
            <span class="text-left"> &nbsp;</span><label class="radio-inline" ng-repeat="s in selectionTypes">
            <input type="radio" name="radio" ng-model="type.id" ng-value="s.id"><span>{{s.value}}</span></label>
            <!--</form>-->
        </div>
        
        <table class="table" ng-if="type.id==0">
            <tr>
                <span class="text-left"> &nbsp;</span>
                <td><label class="radio-inline" ng-repeat="o in OnOff">
                    <input type="radio" name="radio1" ng-model="pomp.pomp_state" ng-value="o.id"
                           ng-disabled="buttons[0]"><span>{{o.value}}</span>
                </label>
                </td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform" onbeforesave="beforeSave(0,rowform)" ng-show="rowform.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSend(0,$data)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(0,rowform)"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="edit(0,rowform)">edit</button>
                        <button type="button" ng-click="sendToServer(0,pomp)"
                                class="btn btn-primary" ng-show="enables[0]">
                            send
                        </button>

                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>