<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Raport tabelaryczny</h4>
    </div>
    <div>
        <span ng-repeat="item in data" ng-init="">

        <table class="table" ng-if="pagination.page==$index">
            <tr>
                <td>Sekcja</td>
                <td>{{item.group_name}}</td>
            </tr>
            <tr>
                <td>Typ sterowania</td>
                <td>{{item.name}}</td>
            </tr>
            <tr>
                <td>Akcja</td>
                <td>{{item.action}}</td>
            </tr>
            <tr>
                <td>Linie włączone</td>
                <td>{{item.lines_on}} </td>
            </tr>
            <tr>
                <td>Data włączenia</td>
                <td>{{item.date_on}} </td>
            </tr>
            <tr>
                <td>Linie wyłaczone</td>
                <td>{{item.lines_off}} </td>
            </tr>
            <tr>
                <td>Data wyłączenia</td>
                <td>{{item.date_off}} </td>
            </tr>
            <tr>
                <td>Deszcz</td>
                <td>{{item.rain}} </td>
            </tr>
            <tr>
                <td colspan="2">
                    <nav>
                        <ul class="pager">
                            <li class="previous" ng-if="!$first" ng-click="showTable($index-1)"><a href=""><span aria-hidden="true">&larr;</span> Newer</a></li>
                            <li class="next" ng-if="!$last" ng-click="showTable($index+1)"><a href="">Older <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>

        </span>

    </div>
</div>