<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>

<div class="col-xs-12 col-sm-6 col-md-8 panel panel-primary">

    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigurator raportów </h4>
    </div>
    <div>
        <div class="label-info">

            <!--<form class="form-inline" role="form">-->
            <span class="text-left"> &nbsp;</span><label class="radio-inline" ng-repeat="s in selectionTypes">
            <input type="radio" name="radio" ng-model="type.id" ng-value="s.id"><span>{{s.value}}</span></label>

            <!--</form>-->
        </div>

        <table class="table" ng-if="type.id==0">
            <tr>
                <th>Godzina</th>
                <td><span editable-number="trigger.hours" e-name="hours" e-min="0" e-max="23" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,23)">{{trigger.hours}}</span></td>
            </tr>
            <tr>
                <th>Minut</th>
                <td><span editable-number="trigger.minutes" e-name="minutes" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{trigger.minutes}}</span></td>
            </tr>
            <tr>
                <th>Sekunda</th>
                <td><span editable-number="trigger.seconds" e-name="seconds" e-min="0" e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{trigger.seconds }}</span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSend(0,$data)">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" ng-click="sendToServer(0,trigger)"
                                class="btn btn-primary" ng-show="enables[0]">
                            send
                        </button>
                    </div>

                </td>
            </tr>
        </table>

        <table class="table" ng-if="type.id==1">
            <tr>
                <span class="text-left"> &nbsp;</span>
                <td><label class="radio-inline" ng-repeat="o in OnOff">
                    <input type="radio" name="radio1" ng-model="console.__bases__[0].enabled" ng-value="o.id"
                           ng-disabled="buttons[0]"><span>{{o.value}}</span>
                </label>
                </td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform1" onbeforesave="beforeSave(0,rowform)" ng-show="rowform1.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSend(1,$data)">
                        <button type="submit" ng-disabled="rowform1.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform1.$waiting" ng-click="cancel(0,rowform1)"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform1.$visible">
                        <button class="btn btn-primary" ng-click="edit(0,rowform1)">edit</button>
                        <button type="button" ng-click="sendToServer(1,console)"
                                class="btn btn-primary" ng-show="enables[1]">
                            send
                        </button>

                    </div>

                </td>
            </tr>
        </table>

        <table class="table" ng-if="type.id==2">
            <tr>
                <td colspan="2"><label class="radio-inline" ng-repeat="o in OnOff">
                    <input type="radio" name="radio2" ng-model="mongo.__bases__[0].enabled" ng-value="o.id"
                           ng-disabled="buttons[1]"><span>{{o.value}}</span>
                </label>
                </td>
            </tr>
            <tr ng-show="false">
                <td>Host</td>
                <td><span editable-text="mongo.host" e-name="host" e-form="rowform2">{{mongo.host}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Port</td>
                <td><span editable-number="mongo.port" e-name="port" onbeforesave="checkRange($data,0,65535)"
                          e-form="rowform2">{{mongo.port}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Db name</td>
                <td><span editable-text="mongo.db_name" e-name="db_name" e-form="rowform2">{{mongo.db_name}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Coll name</td>
                <td><span editable-text="mongo.coll_name" e-name="coll_name"
                          e-form="rowform2">{{mongo.coll_name}}</span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform2" onbeforesave="beforeSave(1,rowform2)"
                          ng-show="rowform2.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSend(2,$data)">
                        <button type="submit" ng-disabled="rowform2.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform2.$waiting" ng-click="cancel(1,rowform2)"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform2.$visible">
                        <button class="btn btn-primary" ng-click="edit(1,rowform2)">edit</button>
                        <button type="button" ng-click="sendToServer(2,mongo)"
                                class="btn btn-primary" ng-show="enables[2]">
                            send
                        </button>
                    </div>

                </td>
            </tr>
        </table>

        <table class="table" ng-if="type.id==3">
            <tr>
                <td colspan="2"><label class="radio-inline" ng-repeat="o in OnOff">
                    <input type="radio" name="radio3" ng-model="online.__bases__[0].enabled" ng-value="o.id"
                           ng-disabled="buttons[2]"><span>{{o.value}}</span>
                </label>
                </td>
            </tr>
            <tr ng-show="false">
                <td>Host</td>
                <td><span editable-text="online.host" e-name="host" e-form="rowform3">{{online.host}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Port</td>
                <td><span editable-number="online.port" e-name="port" onbeforesave="checkRange($data,0,65535)"
                          e-form="rowform3">{{online.port}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Queue name</td>
                <td><span editable-text="online.queue_name" e-name="queue_name"
                          e-form="rowform3">{{online.queue_name}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>User</td>
                <td><span editable-text="online.user" e-name="user" e-form="rowform3">{{online.user}}</span></td>
            </tr>
            <tr ng-show="false">
                <td>Password</td>
                <td><span editable-text="online.password" e-name="password" e-form="rowform3">{{online.password}}</span>
                </td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->  <!--shown="inserted == group"-->
                    <form editable-form name="rowform3" onbeforesave="beforeSave(2,rowform3)" ng-show="rowform3.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSend(3,$data)">
                        <button type="submit" ng-disabled="rowform3.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform3.$waiting" ng-click="cancel(2,rowform3)"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform3.$visible">
                        <button class="btn btn-primary" ng-click="edit(2,rowform3)">edit</button>
                        <button type="button" ng-click="sendToServer(3,online)"
                                class="btn btn-primary" ng-show="enables[3]">
                            send
                        </button>
                    </div>

                </td>
            </tr>
        </table>
    </div>
</div>