<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Statusy zadań</h4>
    </div>
    <div>
        <span ng-repeat="job in jobs" ng-init="">

        <table class="table" ng-if="pagination.page==$index">
            <tr ng-repeat="obj in job.props">

                <td>{{obj.name }} </td>
                <td ng-if="obj.name==='id'">{{obj.value | strLength:8}}</td>
                <td ng-if="obj.name!=='id'">{{obj.value }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <nav>
                        <ul class="pager">
                            <li class="previous" ng-if="!$first" ng-click="showTable($index-1)"><a href=""><span aria-hidden="true">&larr;</span> Newer</a></li>
                            <li class="next" ng-if="!$last" ng-click="showTable($index+1)"><a href="">Older <span aria-hidden="true">&rarr;</span></a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>

        </span>

    </div>
</div>
