<form editable-form name="rowform" onbeforesave="" ng-show="$parent.rowform.$visible"
      class="form-buttons form-inline" shown="inserted == $parent.group"
      onaftersave="$parent.updateGroup($parent.$data, $parent.group.id)">
    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
        save
    </button>
    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
            class="btn btn-default">
        cancel
    </button>
</form>
<div class="buttons" ng-show="!$parent.rowform.$visible">
    <button class="btn btn-primary" ng-click="$parent.rowform.$show()">edit</button>
    <!--<button class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
</div>
