<div class="col-xs-6 col-md-4 " ng-include="'views/menu.html'"></div>
<div class=" col-xs-12 col-sm-6 col-md-8 panel-primary">
    <div class="panel-heading clearfix">
        <h4 class="panel-title text-center" style="padding-top: 7.5px;">
            Konfigura stacji pogodowej</h4>
    </div>
    <div>

        <table class="table">
            <tr>
                <td>API_KEY</td>
                <td><span editable-text="weatherJob.__bases__[0].api_key" e-name="api_key" onbeforesave=""
                          e-form="rowform">
                    {{weatherJob.__bases__[0].api_key}}</span>
                </td>
            </tr>
            <tr>
                <td>Włącz</td>
                <td><span editable-select="weatherJob.__bases__[0].on" e-name="on"
                          e-form="rowform"
                          e-ng-options="b.value as b.text for b in boolean">{{weatherJob.__bases__[0].on}}</span></td>
            </tr>
            <tr>
                <td>Id miasta</td>
                <td><span editable-text="weatherJob.city_id" e-name="city_id" onbeforesave="" e-form="rowform">{{weatherJob.city_id}}</span>
                </td>
            </tr>
            <tr>
                <td>Kraj</td>
                <td><span editable-select="weatherJob.__bases__[0].country_code" e-name="country_code"
                          e-form="rowform"
                          e-ng-options="c.value as c.text for c in country">{{weatherJob.__bases__[0].country_code}}</span>
                </td>
            </tr>
            <tr>
                <td>Kod pocztowy</td>
                <td><span editable-text="weatherJob.zip" e-name="zip" onbeforesave="checkZipCode($data)" e-form="rowform">{{weatherJob.zip}}</span>
                </td>
            </tr>
            <tr>
                <td>Godzina</td>
                <td><span editable-number="weatherJob.__bases__[0].trigger.hour" e-name="trigger.hour" e-min="0"
                          e-max="23" e-step="1" e-form="rowform"
                          onbeforesave="checkRange($data,0,23,true)">{{weatherJob.__bases__[0].trigger.hour || '*'}}</span></td>
            </tr>
            <tr>
                <td>Minuta</td>
                <td><span editable-number="weatherJob.__bases__[0].trigger.minute" e-name="trigger.minute" e-min="0"
                          e-max="59" e-step="1"
                          e-form="rowform"
                          onbeforesave="checkRange($data,0,59)">{{weatherJob.__bases__[0].trigger.minute}}</span></td>
            </tr>
            <tr>
                <td style="white-space: nowrap" colspan="2">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="" ng-show="rowform.$visible"
                          class="form-buttons form-inline"
                          onaftersave="enableSendButton()">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>

                        <button type="button" ng-click="sendToServer(weatherJob)"
                                class="btn btn-primary" ng-show="enabled">
                            send
                        </button>
                    </div>

                </td>

            </tr>
        </table>
        </span>

    </div>
</div>